name: Pull Request Closed

on:
  workflow_dispatch:
    
  pull_request:
    branches:
      - main
    types:
      - closed

concurrency:
  # PR open and close use the same group, allowing only one at a time
  group: pr-${{ github.workflow }}-${{ github.event.number }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  # Clean up OpenShift when PR closed, no conditions
  cleanup-openshift:
    name: Cleanup OpenShift
    runs-on: ubuntu-24.04
    steps:
      - name: Remove OpenShift artifacts
        uses: bcgov/action-oc-runner@f900830adadd4d9eef3ca6ff80103e839ba8b7c0 # v1.3.0
        with:
          oc_namespace: ${{ vars.OC_NAMESPACE }}
          oc_token: ${{ secrets.OC_TOKEN }}
          oc_server: ${{ vars.OC_SERVER }}
          commands: |
            # Remove old build runs, build pods and deployment pods
            helm uninstall nr-metabase-${{ github.event.number }}
